<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: sans-serif;
        }

        body {
            background-color: wheat;
        }

        h1 {
            text-align: center;
            font-size: large;
            margin-block: 2rem;
        }

        p {
            text-align: center;
            color: red;
            margin-bottom: 1rem;
        }

        a {
            background-color: black;
            color: white;
            font-size: small;
            text-decoration: none;
            border-radius: 0.25rem;
            padding: 0.5rem;
            margin-inline: auto;
            width: fit-content;
            display: block;
        }
    </style>
</head>

<body>
    <h1>Not found</h1>
    <p>Page you are looking for is not found</p>
    <a href="/">Back to Home</a>
</body>

</html>