* {
  box-sizing: border-box;
}
@media screen and (max-width: 670px) {
  body {
    padding: 0;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #username-modal-body {
    width: 90%;
    left: 5%;
  }
  #username-modal-body > h2 {
    font-size: small;
  }
  #navbar {
    margin-top: 2rem;
    width: 95%;
    font-size: smaller;
  }
  #chat-box {
    margin: 0;
    margin-top: 1rem;
    height: 78%;
    width: 100%;
    border-radius: 0;
  }
  .msg {
    max-width: 70%;
  }
  .msg > * {
    font-size: small;
  }
  #form {
    border-top: 2px solid black;
    column-gap: 0;
  }
  #msg-inp {
    font-size: small;
    border-radius: 0;
    width: 85%;
  }
  #snd-btn {
    font-size: small;
    border-radius: 0;
    width: 15%;
  }
}
