* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: rgb(179, 158, 120);
  height: calc(100vh - 2rem);
  padding: 1rem;
  color: whitesmoke;
  position: relative;
}
h1 {
  text-align: center;
  font-size: larger;
}
#chat-box {
  height: 75%;
  width: 80%;
  margin-inline: auto;
  margin-block: 1.5rem;
  background-color: white;
  border-radius: 0.45rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: start;
  row-gap: 1rem;
}
.msg {
  background-color: coral;
  width: 40%;
  height: fit-content;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.from {
  font-size: medium;
  margin-block: 0.25rem;
  color: black;
}
.right {
  align-self: flex-end;
}
.left {
  align-self: flex-start;
}
.msg-content {
  text-align: justify;
  font-size: medium;
  font-weight: lighter;
  padding-inline: 0.5rem;
}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 7%;
}
#msg-inp {
  height: 100%;
  width: 80%;
  border: none;
  background-color: white;
  font-size: medium;
  color: black;
  border-radius: 0.45rem;
  padding-inline: 0.25rem;
  resize: none;
}
#snd-btn {
  height: 100%;
  width: 10%;
  border: none;
  background-color: rgb(241, 163, 16);
  font-size: medium;
  color: whitesmoke;
  border-radius: 0.45rem;
}
#snd-btn:focus-visible,
#msg-inp:focus-visible,
#join-btn:focus-visible,
#username:focus-visible {
  outline: none;
}
#username-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
}
#username-modal-body {
  width: 30%;
  height: auto;
  padding: 1rem;
  background-color: brown;
  position: absolute;
  top: 2rem;
  left: calc(35% - 1rem);
  border-radius: 0.45rem;
}
#username-modal-body > h2 {
  font-size: large;
  text-align: center;
  margin-bottom: 1.5rem;
}
#username-modal-body > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
#username {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(247, 132, 132);
  text-align: center;
  width: 60%;
}
#join-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(247, 132, 132);
  cursor: pointer;
}
.hidden {
  display: none;
}
