* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}
body {
  background-color: rgb(179, 158, 120);
  height: 100vh;
  padding: 1rem;
  color: whitesmoke;
  position: relative;
}
h1 {
  text-align: center;
  font-size: larger;
}
#navbar {
  display: flex;
  margin-inline: auto;
  margin-block: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}
#chat-box {
  height: 75%;
  width: 80%;
  margin-inline: auto;
  margin-block: 1rem;
  background-color: white;
  border-radius: 0.45rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: start;
  row-gap: 1rem;
  position: relative;
}
#clr-chat {
  position: sticky;
  top: 0%;
  width: fit-content;
  padding: 0.5rem;
  margin-inline: auto;
  border: none;
  cursor: pointer;
  background-color: red;
  color: whitesmoke;
  border-bottom-left-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
}
.msg {
  background-color: coral;
  max-width: 45%;
  width: auto;
  height: fit-content;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.from {
  font-size: medium;
  margin-block: 0.25rem;
  color: black;
}
.right {
  align-self: flex-end;
}
.left {
  align-self: flex-start;
}
.msg-content {
  text-align: justify;
  font-size: medium;
  font-weight: lighter;
  padding-inline: 0.5rem;
}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 7%;
}
#msg-inp {
  height: 100%;
  width: 80%;
  border: none;
  background-color: white;
  font-size: medium;
  color: black;
  border-radius: 0.45rem;
  padding-inline: 0.25rem;
  resize: none;
}
#snd-btn {
  height: 100%;
  width: 10%;
  border: none;
  background-color: rgb(241, 163, 16);
  font-size: medium;
  color: whitesmoke;
  border-radius: 0.45rem;
  cursor: pointer;
}
#snd-btn:focus-visible,
#msg-inp:focus-visible,
#join-btn:focus-visible,
#username:focus-visible,
#clr-chat:focus-visible {
  outline: none;
}
#username-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
}
#username-modal-body {
  width: 30%;
  height: auto;
  padding: 1rem;
  background-color: brown;
  position: absolute;
  top: 2rem;
  left: calc(35% - 1rem);
  border-radius: 0.45rem;
  z-index: 10;
}
#username-modal-body > h2 {
  font-size: large;
  text-align: center;
  margin-bottom: 1.5rem;
}
#username-modal-body > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
#username {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(247, 132, 132);
  text-align: center;
  width: 60%;
}
#join-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(247, 132, 132);
  cursor: pointer;
}
#errors {
  text-align: center;
  font-size: small;
  margin-top: 0.5rem;
}
.hidden {
  display: none;
}
#new_user {
  width: auto;
  height: auto;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  background-color: wheat;
  color: black;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.45rem;
  z-index: 5;
  border: 1px solid black;
  transform-origin: top;
  animation: new_user ease-in-out 500ms 1;
}
#new_user > h2 {
  font-size: medium;
  margin-bottom: 0.5rem;
}
#new_user_description {
  font-size: small;
  text-align: justify;
}
.slide-right {
  animation: slide_right ease-in-out 500ms 1;
}
.slide-left {
  animation: slide_left ease-in-out 500ms 1;
}
@keyframes new_user {
  from {
    transform: translateY(-5rem);
  }
}
@keyframes slide_right {
  from {
    transform: translateX(-5rem);
  }
}
@keyframes slide_left {
  from {
    transform: translateX(5rem);
  }
}
